/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.production.docker
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Flutter specific
/build/
/dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/coverage/
/android/**/build/
/ios/Flutter/ephemeral/
/ios/Pods/
/macos/Flutter/ephemeral/
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
lib/generated_plugin_registrant.dart
.fvm/flutter_sdk

# Laravel / local runtime artifacts
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
/bootstrap/cache/*
/public/build/
/public/hot
